@page "/generatedata"
@using BlazorDateRangePicker
@using System.Net.Http.Json

<PageTitle>Roll Up Data</PageTitle>

<h1>Create Vaccination Events (into Kafka)</h1>

<p>Summarizes data for a given date and location.</p>
<p><DateRangePicker SingleDatePicker=true @bind-StartDate="StartDate" /></p>
<p>@results</p>
<button class="btn btn-primary" @onclick="Generate">Generate Data</button>

@code {
    DateTimeOffset? StartDate { get; set; } = DateTime.Today;
    string @results = "Results will appear here";
    HttpClient _httpclient = new HttpClient();

    private async Task Generate()
    {
        string generation_date = StartDate.ToString();
        var formContent = new FormUrlEncodedContent(new[]{
            new KeyValuePair<string, string>("generation_date", generation_date)
    });
        results = "Generating vaccination events into Kafka...";
        var response = await _httpclient.PostAsync("http://vac-seen-generator:8080/generator", formContent);
        //        var response = await _httpclient.PostAsync("http://vac-seen-rollup/rollup", formContent);
        results = String.Format("Vaccinations Generated for {0:d}", StartDate.ToString());
    }

}