@page "/trends"

@using System.Net.Http.Json
@using Newtonsoft.Json;

<PageTitle>Vaccination Trends</PageTitle>

<h1>Vaccinations over the past 30 days</h1>

<Chart Config="_config1" @ref="_chart1"></Chart>

@code {

    private BarChartConfig _config1;
    private Chart _chart1;

    protected override async Task OnInitializedAsync()
    {

        _config1 = new BarChartConfig()
            {
                Options = new Options()
                {
                    Responsive = true,
                    MaintainAspectRatio = false,
                    Plugins = new Plugins()
                    {
                        Legend = new Legend()
                        {
                            Align = LegendAlign.Center,
                            Display = false,
                            Position = LegendPosition.Right
                        }
                    },
                    Scales = new Scales()
                    {
                        X = new XAxes()
                        {
                            Stacked = true,
                            Ticks = new Ticks()
                            {
                                MaxRotation = 0,
                                MinRotation = 0,
                            }
                        },
                        Y = new YAxes()
                        {
                            Stacked = true
                        }
                    }
                }
            };

        List<string> labels = new List<string>();
        List<DataItem> datalist = new List<DataItem>();

        HttpClient _httpclient = new HttpClient();

        string queryDate = DateTime.Now.ToString("yyyyMMdd");
        string country = "US";
        string URI = $"http://vac-seen-getter-rhn-engineering-dschenck-dev.apps.sandbox.x8i5.p1.openshiftapps.com/vaccination/GetVaccinationSummary/?queryDate={queryDate}&countryCode={country}&DaysToGoBack=30";
        var response = await _httpclient.GetAsync(URI);

        response.EnsureSuccessStatusCode();

        string json = response.Content.ReadAsStringAsync().Result;

        List<Vaccination> list = JsonConvert.DeserializeObject<List<Vaccination>>(json);

        foreach (Vaccination v in list)
        {
            labels.Add(v.date.Substring(4, 2) + "/" + v.date.Substring(6, 2));
            DataItem di = new DataItem();
            di.Value = Convert.ToDecimal(v.count);
            di.Name = v.date.ToString();
            datalist.Add(di);
        }

        _config1 = new BarChartConfig();
        _config1.Data.Labels = labels;
        _config1.Data.Datasets.Add(new BarDataset()
            {
                Label = "Value",
                Data = datalist.Select(l => l.Value).ToList(),
                BackgroundColor = Colors.Palette1,
                BorderColor = Colors.PaletteBorder1,
                BorderWidth = 1
            });
    }
}
